body {
  font-family: "Roboto Condensed", sans-serif;
  /* margin: 0px 30px; */
  background-color: rgba(248, 240, 225, 0.39);
}
.ulist {
  float: inline-end;
  margin-top: 50px;
}
.list {
  text-decoration: none;
  color: black;
  margin-right: 40px;
}

.span {
  color: orangered;
}
.anchor {
  text-decoration: none;
  color: white;
  background-image: linear-gradient(to right, #f12711, #f5af19);
  border: 1px solid;
  display: inline-block;
  margin-top: 25px;
  border-radius: 20px;
  padding: 8px 20px;
}
.sectiontwoh2 {
  color: #7c7e7b;
}
.sectionthreeh2 {
  color: #7c7e7b;
}
.sectiononeh1 {
  color: #7c7e7b;
}
.sectionfiveh3 {
  font-size: 1.5em;
}
.imgpath {
  clip-path: polygon(72% 0, 100% 29%, 100% 61%, 64% 100%, 25% 100%, 0% 60%, 0 0);
}
#c {
  text-align: center;
  color: #bb0000;
}
.h6 {
  text-align: center;
}
/* section one */
.section-one {
  display: flex;
  align-items: center;
  margin: 50px 50px;
}
.sectionone-half {
  width: 50%;
}
.sectionone-half img {
  width: 100%;
}
.sectionone-txt {
  width: 100%;
  font-size: 3em;
}

/* section two */

.section-two {
  display: flex;
  align-items: center;
  margin: 0px 0px;

  background-image: url(photo/sectiontwopic.png);
}
.sectiontwo-half {
  width: 50%;
  margin: 0px 200px;
}
.sectiontwo-half img {
  width: 120%;
}
.sectiontwo-txt {
  width: 100%;
  padding: 45px 0px;
}
/* section three */
.sectionthree-txt {
  text-align: center;
  margin-top: 40px;
}
.section-three {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
  /* background-color: rgba(141, 133, 133, 0.062); */
}
.sectionthreeonethird {
  width: 30%;
}
.sectionthreepic {
  width: 100%;
  border-radius: 30px;
  transition: transform .4s ease;

}
.sectionthreepic:hover{
  transform: scale(1.1);
  box-shadow: 2px 5px 5px black;

}
.sectionthreeborder {
  border: 1px solid;
  padding: 10px;
  margin-bottom: 50px;
  border-radius: 10px;
  box-shadow: 3px 2px 10px rgb(29, 6, 238);
  margin-top: 50px;
}

/* section four */

.section-four {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid white;
  box-shadow: 1px 1px 5px rgba(231, 6, 6, 0.185);
  margin: 0px 50px;
  border-radius: 20px;
  padding: 15px;
  background-color: white;
}

/* section five */

#clint {
  color: white;
  background-color: orange;
  border: 1px solid;
  display: inline-block;
  padding: 10px 20px;
}
.comment {
  text-align: center;
  margin-bottom: 0px;
  display: block;
  margin-top: 16px;
}
.commentsection-margin {
  border: 1px solid rgb(252, 190, 190);
  display: inline-block;
  width: 40%;
  padding: 10px;

  background-image: #dff9fb;

  color: black;
}
.commentsection {
  display: flex;
  justify-content: space-evenly;
  margin: 4px;
}
#one {
  border-top-left-radius: 45px;
  border-bottom-right-radius: 45px;
}
#two {
  border-top-right-radius: 45px;
  border-bottom-left-radius: 45px;
}
#three {
  border-top-right-radius: 45px;
  border-bottom-left-radius: 45px;
}
#four {
  border-top-left-radius: 45px;
  border-bottom-right-radius: 45px;
}
.small {
  color: coral;
}
.span2 {
  color: tomato;
}
hr {
  border: 3px solid #ffe259;
  border-radius: 50%;
  /* background-color: linear-gradient(to left, #ffe259, #ffa751); */
}

/* section six */
footer {
  text-align: center;
  margin: 50px 0px;
  background-image: linear-gradient(to left, #efefbb, #d4d3dd);
  padding: 50px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.icon {
  display: flex;
  justify-content: center;
}

.fa {
  padding: 20px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 10px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.8;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
